<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="./css/styles.css" rel="stylesheet">
    <title>Online Voting Manager</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        var token = document.querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
    </script>

</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-2 col-span-3">
            <%- include('header.ejs') %>
            <a href="/signout" class="text-green-600">Signout</a>
            <form action="/addQuestion" method="post">
                <% if(messages && messages.error && messages.error.length > 0)  { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                            <li> <%= messages.error[i] %></li>
                    <% } %>
                  <% } %>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <input type="hidden" name="electionId" value="<%= electionId %>" />
                <div class="py-4">
                    <div class="py-2">
                        <label for="firstName">Question:</label>
                        <input type="text" name="title" placeholder="Question Goes Here...." class="border border-gray-300 text-black-900 rounded p-2 w-full">
                    </div>
                    <div class="py-2">
                        <label for="description">Description:</label>
                        <input type="text" name="description" placeholder="Describe your question...." class="border border-gray-300 rounded text-black-900 w-full p-2 text-sm"/>
                    </div>
                    <div class="py-2">
                        <button type="submit" class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2">Add Question</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>