<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="./css/styles.css" rel="stylesheet">
    <title>To-Do Manager</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        var token = document.querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
    </script>

</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
            <a href="/signout" class="text-green-600">Signout</a>
            <form action="/elections" method="post">
                <% if(messages && messages.error && messages.error.length > 0)  { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                            <li> <%= messages.error[i] %></li>
                    <% } %>
                  <% } %>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <div class="flex gap-2 py-4">
                    <div class="flex-auto">
                        <input type="text" name="title" placeholder="New Election Name?" class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm"/>
                    </div>
                    <div class="flex-none">
                        <button type="submit" class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2">Create</button>
                    </div>
                </div>
            </form>
            <div>
                <%- include('electionsList.ejs', allElections) %>
            </div>
        </div>
    </div>
</body>
</html>