<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="/css/styles.css" rel="stylesheet">
    <title>Online Voting Manager</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        function copy(text) {
          navigator.clipboard.writeText(text);
        }
        </script>
</head>
<body>
    <%- include('header.ejs', {user: "admin"}) %>
    <div class="grid grid-cols-6">
        <div class="col-start-2 col-span-3">
            <h1 class="text-2xl py-4 centerElement"><%= electionTitle %></h1>
            <% if(messages && messages.error && messages.error.length > 0)  { %>
                <% for(var i=0; i<messages.error.length; i++) { %>
                        <p class="flash-error"> <%= messages.error[i] %></p>
                <% } %>
              <% } %>
            <h3 class="text-lg py-2">Share this URL with the voters: <a class="text-green-600" id="url1" href="/vote/election/<%= electionId %>">online-voting-sj3r.onrender.com/vote/election/<%= electionId %></a>&nbsp&nbsp
                <button onclick="copy('online-voting-sj3r.onrender.com/vote/election/<%= electionId %>')">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 inline"> 
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 01-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 011.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 00-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 01-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 00-3.375-3.375h-1.5a1.125 1.125 0 01-1.125-1.125v-1.5a3.375 3.375 0 00-3.375-3.375H9.75" />
                    </svg>
                </button>
            </h3>
            <h3 class="text-lg py-2 centerElement">Or</h3>
            <% if(customURL == null) { %>
                <form action="/addCustomURL" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="electionId" value="<%= electionId %>">
                    <label for="customURL">Create Custom URL: <p class="text-small">online-voting-sj3r.onrender.com/vote/election/</p></label>
                    <input type="text" name="customURL" class="border border-gray-300 rounded p-2 w-full inline" required>
                    <div class="centerElement py-2">
                        <button type="submit" class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2">Use this URL</button>
                    </div>
                </form>
            <% } else { %>
                <h3 class="text-lg py-2">Share this URL with the voters: <a class="text-green-600" id="url2" href="/vote/election/<%= customURL.customURL %>">online-voting-sj3r.onrender.com/vote/election/<%= customURL.customURL %></a>&nbsp&nbsp
                    <button onclick="copy('online-voting-sj3r.onrender.com/vote/election/<%= customURL.customURL %>')">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 inline"> 
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 01-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 011.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 00-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 01-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 00-3.375-3.375h-1.5a1.125 1.125 0 01-1.125-1.125v-1.5a3.375 3.375 0 00-3.375-3.375H9.75" />
                        </svg>
                    </button>
                </h3>
            <% } %>
            <div>
                <p class="text-green-600 text-lg py-6"><a href="/elections/manage/<%= electionId %>/manageVoters">Manage Voters</a></p>
                <p class="text-green-600 text-lg py-6"><a href="/elections/manage/<%= electionId %>/manageQuestions">Manage Questions</a></p>
            </div>
        </div>
    </div>
</body>
</html>