<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="/css/styles.css" rel="stylesheet">
    <title>Online Voting Manager</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <%- include('header.ejs') %>
    <h1 class="text-4xl centerElement"><%= message %></h1>
    <h1 class="text-2xl centerElement">Total Voters: <%= totalVoters %></h1>
    <h1 class="text-2xl centerElement">No of voters polled: <%= voted %></h1>
    <h1 class="text-2xl centerElement">Voters remaining: <%= totalVoters - voted %></h1>
    <div class="grid grid-cols-6">
        <div class="col-start-2 col-span-3">
            <br>
            <div>
                <% for(var i=0; i < questions.length; i++) { %>
                    <% if(messages && messages.success && messages.success.length > 0)  { %>
                        <% for(var i=0; i<messages.success.length; i++) { %>
                                <li> <%= messages.success[i] %></li>
                        <% } %>
                      <% } %>
                    <div class="py-2">
                        <h3 class="ml-2 text-xl text-black-900 font-bold"><%= i+1 %>. <%= questions[i].title%></h3>
                        <p class="px-8"><%= questions[i].description %></p>
                        <table>
                        <% for(var j=0; j < options.length; j++) {
                            if(options[j].length != 0 && options[j][0].questionId == questions[i].id) { %>
                                <% let max = optionsCount[j][0];
                                for(var k=0; k < options[j].length; k++) {
                                    if(optionsCount[j][k] > max) { max = optionsCount[j][k] }
                                }
                                for(var k=0; k < options[j].length; k++) { %>
                                    <tr class=<%= max == optionsCount[j][k] ? "bg-green-400" : "" %>>
                                        <td><input type="radio" disabled id="<%= `q${questions[i].id}o${options[j][k].id}` %>" name="<%= `q${questions[i].id}` %>" class="default:border-green-500" style="margin-left: 30px">
                                        <label for="<%= `q${questions[i].id}o${options[j][k].id}` %>" class="text-xl"><%= options[j][k].option %></label></td>
                                        <td class="text-xl px-8"><%= optionsCount[j][k] %></td>
                                    </tr>
                                <% } %>
                            <% } %>
                        <% } %>
                        </table>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</body>